<div class="inputforms">
    <div class="inputform">
        <label>Level:</label>
        <select class="form-control" ng-model="$ctrl.slevel" ng-options="level.name for level in $ctrl.levels"></select>
    </div>
    <div class="inputform">
        <label>Type:</label>
        <select class="form-control" ng-model="$ctrl.stype" ng-options="type.name for type in $ctrl.types"></select>
    </div>
    <div class="inputform">
        <label>List:</label>
        <select class="form-control" ng-model="$ctrl.slist" ng-options="list.name for list in $ctrl.lists"></select>
    </div>
    <div class="inputform">
        <label>Spell:</label>
        <select class="form-control" ng-model="$ctrl.sspell" ng-options="spell.name for spell in $ctrl.spells | spelllist:$ctrl.slist.value | spelltype:$ctrl.stype.name | orderBy:'name'"></select>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.addClicked()">Add</button>
    <button class="btn btn-primary" ng-click="$ctrl.clearClicked()">Clear All</button>
    <button class="btn btn-primary" ng-click="$ctrl.lvlCalcClicked()">Recalculate</button>
</div>
<div class="table-container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'name', not_sort_column:$ctrl.sortCol != 'name'}" 
                    ng-click="$ctrl.setColSort('name')">Spell Name</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'desc', not_sort_column:$ctrl.sortCol != 'desc'}" 
                    ng-click="$ctrl.setColSort('desc')">Spell Description</th>
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'base_sp_cost', not_sort_column:$ctrl.sortCol != 'base_sp_cost'}" 
                    ng-click="$ctrl.setColSort('base_sp_cost')">Base SP Cost</th-->
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'sp_per_lvl', not_sort_column:$ctrl.sortCol != 'sp_per_lvl'}" 
                    ng-click="$ctrl.setColSort('sp_per_lvl')">Per Level SP Cost</th-->
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'base_g_cost', not_sort_column:$ctrl.sortCol != 'base_g_cost'}" 
                    ng-click="$ctrl.setColSort('base_g_cost')">Base Gem Cost</th-->
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'g_per_lvl', not_sort_column:$ctrl.sortCol != 'g_per_lvl'}" 
                    ng-click="$ctrl.setColSort('g_per_lvl')">Per Level Gem Cost</th-->
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'spell_lists', not_sort_column:$ctrl.sortCol != 'spell_lists'}" 
                    ng-click="$ctrl.setColSort('spell_lists')">Lists</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'dmg_type', not_sort_column:$ctrl.sortCol != 'dmg_type'}" 
                    ng-click="$ctrl.setColSort('dmg_type')">Damage Type</th>
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'base_dmg_amt', not_sort_column:$ctrl.sortCol != 'base_dmg_amt'}" 
                    ng-click="$ctrl.setColSort('base_dmg_amt')">Base Damage Amount</th-->
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'dmg_per_lvl', not_sort_column:$ctrl.sortCol != 'dmg_per_lvl'}" 
                    ng-click="$ctrl.setColSort('dmg_per_lvl')">Damage Per Level</th-->
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'dmg_targets', not_sort_column:$ctrl.sortCol != 'dmg_targets'}" 
                    ng-click="$ctrl.setColSort('dmg_targets')">Damage Targets</th>
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'base_healing_amt', not_sort_column:$ctrl.sortCol != 'base_healing_amt'}" 
                    ng-click="$ctrl.setColSort('base_healing_amt')">Base Healing Amount</th-->
                <!--th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'healing_per_lvl', not_sort_column:$ctrl.sortCol != 'healing_per_lvl'}" 
                    ng-click="$ctrl.setColSort('healing_per_lvl')">Healing Per Level</th-->
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'healing_targets', not_sort_column:$ctrl.sortCol != 'healing_targets'}" 
                    ng-click="$ctrl.setColSort('healing_targets')">Healing Targets</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'level', not_sort_column:$ctrl.sortCol != 'level'}" 
                    ng-click="$ctrl.setColSort('level')">Level</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 't_g_cost', not_sort_column:$ctrl.sortCol != 't_g_cost'}" 
                    ng-click="$ctrl.setColSort('t_g_cost')">Total Gem Cost</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 't_sp_cost', not_sort_column:$ctrl.sortCol != 't_sp_cost'}" 
                    ng-click="$ctrl.setColSort('t_sp_cost')">Total SP Cost</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 't_dmg', not_sort_column:$ctrl.sortCol != 't_dmg'}" 
                    ng-click="$ctrl.setColSort('t_dmg')">Total Damage</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 't_healing', not_sort_column:$ctrl.sortCol != 't_healing'}" 
                    ng-click="$ctrl.setColSort('t_healing')">Total Healing</th>


                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'mark', not_sort_column:$ctrl.sortCol != 'mark'}" 
                    ng-click="$ctrl.setColSort('mark')">Mark</th>
                <th scope="col" class="not_sort_column">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="entry in $ctrl.entries | orderBy:$ctrl.sortCol:$ctrl.sortRev"
                ng-class="{normal:entry.mark == 'normal', keep:entry.mark == 'keep', remove:entry.mark == 'remove'}">
                <td>{{entry.name}}</td>
                <td>{{entry.desc}}</td>
                <!--td>{{entry.base_sp_cost}}</td-->
                <!--td>{{entry.sp_per_lvl}}</td-->
                <!--td>{{entry.base_g_cost}}</td-->
                <!--td>{{entry.g_per_lvl}}</td-->
                <td>{{entry.spell_lists}}</td>
                <td>{{entry.dmg_type}}</td>
                <!--td>{{entry.base_dmg_amt}}</td-->
                <!--td>{{entry.dmg_per_lvl}}</td-->
                <td>{{entry.dmg_targets}}</td>
                <!--td>{{entry.base_healing_amt}}</td-->
                <!--td>{{entry.healing_per_lvl}}</td-->
                <td>{{entry.healing_targets}}</td>
                <td>{{entry.level}}</td>
                <td>{{entry.t_g_cost}}</td>
                <td>{{entry.t_sp_cost}}</td>
                <td>{{entry.t_dmg}}</td>
                <td>{{entry.t_healing}}</td>
                <td><button ng-click="$ctrl.markClicked(entry)">Mark</button></td>
                <td><button ng-click="$ctrl.removeClicked(entry.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
