<div class="inputforms">
    <div class="inputform">
        <label>Quality:</label>
            <select class="form-control" ng-model="$ctrl.saquality" ng-options="quality.name for quality in $ctrl.qualities | orderBy:'name'"></select>
    </div>
    <div class="inputform">
        <label>Accessory:</label>
            <select class="form-control" ng-model="$ctrl.saccessory" ng-options="accessory.name for accessory in $ctrl.accessories | orderBy:'name'"></select>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.addClicked()">Add</button>
    <button class="btn btn-primary" ng-click="$ctrl.clearClicked()">Clear All</button>
</div>
<div class="table-container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'qname', not_sort_column:$ctrl.sortCol != 'qname'}" 
                    ng-click="$ctrl.setColSort('qname')">Quality</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'aname', not_sort_column:$ctrl.sortCol != 'aname'}" 
                    ng-click="$ctrl.setColSort('aname')">Accessory</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'type', not_sort_column:$ctrl.sortCol != 'type'}" 
                    ng-click="$ctrl.setColSort('type')">Type</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'enhancement', not_sort_column:$ctrl.sortCol != 'enhancement'}" 
                    ng-click="$ctrl.setColSort('enhancement')">Enhancement</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'emagnitude', not_sort_column:$ctrl.sortCol != 'emagnitude'}" 
                    ng-click="$ctrl.setColSort('emagnitude')">Enhancement Magnitude</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'mark', not_sort_column:$ctrl.sortCol != 'mark'}" 
                    ng-click="$ctrl.setColSort('mark')">Mark</th>
                <th scope="col" class="not_sort_column">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="aentry in $ctrl.aentries | orderBy:$ctrl.sortCol:$ctrl.sortRev"
                ng-class="{normal:aentry.mark == 'normal', keep:aentry.mark == 'keep', remove:aentry.mark == 'remove'}">
                <td>{{aentry.qname}}</td>
                <td>{{aentry.aname}}</td>
                <td>{{aentry.type}}</td>
                <td>{{aentry.enhancement}}</td>
                <td>{{aentry.emagnitude}}</td>
                <td><button ng-click="$ctrl.markClicked(aentry)">Mark</button></td>
                <td><button ng-click="$ctrl.removeClicked(aentry.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
