<uib-tabset active="active">
    <uib-tab index="0" heading="Weapons">
        <weapontab weapons=$ctrl.weapons qualities=$ctrl.qualities></weapontab>
    </uib-tab>

    <uib-tab index="1" heading="Armor">
        <armortab armors=$ctrl.armors qualities=$ctrl.qualities></armortab>
    </uib-tab>

    <uib-tab index="2" heading="Accessories">
        <accessorytab accessories=$ctrl.accessories qualities=$ctrl.qualities></accessorytab>
    </uib-tab>

    <uib-tab index="3" heading="Spell Comparision">
        <spellcomptab spells=$ctrl.spells></spellcomptab>
    </uib-tab>

    <uib-tab index="6" heading="READ ME">
        <h3 id="weaponcomparisonviewer">Weapon Comparison Viewer</h3>
        <ul>
        <li>Some weapons have an addition quality which provides a damage multiplier (x3) against specific enemy types, how this works was obvious so I didn't include it.</li>
        </ul>

        <h3 id="armorcomparisionviewer">Armor Comparision Viewer</h3>
        <p>stub</p>

        <h3 id="accessorycomparisionviewer">Accessory Comparision Viewer</h3>
        <ul>
        <li>Qualities like Iron/Steel/Gold don't provide AC when on accessories (I'm not sure about "armored") they do increase value. Despite using the same engine this is not true in MM3.</li>
        </ul>

        <h3 id="spellcomparisionviews">Spell Comparision Views</h3>
        <ul>
        <li>Spells will do someting like "2-12" damage per level. I'm not sure if this means there is a dice roll involved or not. I'm assuming the distributions are weighted evenly.</li>
        <li>Apparently "all" and "group" mean different things. I'm not sure that I have this right on all spells or what the read difference it. All is apparently better than group.</li>
        <li>It's possible that I messed up some of the spell mana/damage calculations since I entered them mostly by hand. If you find such a mistake, let me know.</li>
        </ul>

        <h3 id="general">General</h3>
        <ul>
        <li>The "mark" button is useful for providing an indicator which items you've decided to use (green) or sell (red). The "clear all" button will not remove items that have been marked in green.</li>
        <li>I did not include the value calculations in this. Note that value does NOT always corrospond to quality in general.</li>
        <li>It should be noted there is a non-obvious mechanic for aging, after certain ages your characters will get + to mental stats and - to physical. This is usually bad, so try not to be too "slow" or wander around in the desert without a navigator.</li>
        <li>Entering a shop/guild/tavern/etc will cause a day to pass. To avoid aging, avoid needless entering and exiting shops.</li>
        <li>Money and EXP requirements for leveling up seem to go up exponentially, however since monsters drop more EXP than money the gating resource late game (darkside) is money. Solve this problem by putting your money in the bank early on so you generate interest. Then if you need more money later, you can spend time working (this makes a week go buy at a time) which will generate a small amount upfront but will allow compound interest to do its magic. This also works in real life.</li>
        <li>Since EXP requirements go up exponentially per level, and darkside goes up to much much higher levels than lightside, I suggest that you do lightside first if you intend to do lightside at all. Afterwards when you do darkside you'll be overpowered for a short time, however if you do darkside much before doing lightside you'll end up very over powered for all of lightside.</li>
        <li>While both games can be played independently, there is some content on lightside which is unlocked by playing darkside.</li>
        <li>Raising your dead party members with spells seems to decrease their max endurance by one each time. So the more one of your party members dies the less hp they have, making them die more. It's a vicious cycle. Either avoid letting your party members die, or raise them at temples which don't cause this problem.</li>
        </ul>
    </uib-tab>
</uib-tabset>

