<div class="inputforms">
    <div class="inputform">
        <label>Quality:</label>
            <select class="form-control" ng-model="$ctrl.swquality" ng-options="quality.name for quality in $ctrl.qualities | excludedtypenone | orderBy:'name'"></select>
    </div>
    <div class="inputform">
        <label>Weapon:</label>
            <select class="form-control" ng-model="$ctrl.sweapon" ng-options="weapon.name for weapon in $ctrl.weapons | orderBy:'name'"></select>
    </div>
    <button class="btn btn-primary" ng-click="$ctrl.addClicked()">Add</button>
    <button class="btn btn-primary" ng-click="$ctrl.clearClicked()">Clear All</button>
</div>
<div class="table-container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'qname', not_sort_column:$ctrl.sortCol != 'qname'}" 
                    ng-click="$ctrl.setColSort('qname')">Quality</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'wname', not_sort_column:$ctrl.sortCol != 'wname'}" 
                    ng-click="$ctrl.setColSort('wname')">Weapon</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'dice', not_sort_column:$ctrl.sortCol != 'dice'}" 
                    ng-click="$ctrl.setColSort('dice')">Dice</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'classes', not_sort_column:$ctrl.sortCol != 'classes'}" 
                    ng-click="$ctrl.setColSort('classes')">Classes</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'hands', not_sort_column:$ctrl.sortCol != 'hands'}" 
                    ng-click="$ctrl.setColSort('hands')">Hands</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'avg_damage', not_sort_column:$ctrl.sortCol != 'avg_damage'}" 
                    ng-click="$ctrl.setColSort('avg_damage')">Base Avg Dmg</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'tohitbonus', not_sort_column:$ctrl.sortCol != 'tohitbonus'}" 
                    ng-click="$ctrl.setColSort('tohitbonus')">Hit Bonus</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'dbonustype', not_sort_column:$ctrl.sortCol != 'dbonustype'}" 
                    ng-click="$ctrl.setColSort('dbonustype')">Bonus Dmg Type</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'damagebonus', not_sort_column:$ctrl.sortCol != 'damagebonus'}" 
                    ng-click="$ctrl.setColSort('damagebonus')">Bonus Dmg</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 't_avg_dmg', not_sort_column:$ctrl.sortCol != 't_avg_dmg'}" 
                    ng-click="$ctrl.setColSort('t_avg_dmg')">Avg Dmg</th>
                <th scope="col"
                    ng-class="{sort_column:$ctrl.sortCol == 'mark', not_sort_column:$ctrl.sortCol != 'mark'}" 
                    ng-click="$ctrl.setColSort('mark')">Mark</th>
                <th scope="col" class="not_sort_column">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr
                ng-repeat="wentry in $ctrl.wentries | orderBy:$ctrl.sortCol:$ctrl.sortRev"
                ng-class="{normal:wentry.mark == 'normal', keep:wentry.mark == 'keep', remove:wentry.mark == 'remove'}">
                <td>{{wentry.qname}}</td>
                <td>{{wentry.wname}}</td>
                <td>{{wentry.dice}}</td>
                <td>{{wentry.classes}}</td>
                <td>{{wentry.hands}}</td>
                <td>{{wentry.avg_damage}}</td>
                <td>{{wentry.tohitbonus}}</td>
                <td>{{wentry.dbonustype}}</td>
                <td>{{wentry.damagebonus}}</td>
                <td>{{wentry.t_avg_dmg}}</td>
                <td><button ng-click="$ctrl.markClicked(wentry)">Mark</button></td>
                <td><button ng-click="$ctrl.removeClicked(wentry.id)">Remove</button></td>
            </tr>
        </tbody>
    </table>
</div>
