.sort_column {
	cursor: pointer;
	background-color: #FFFF99;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
.not_sort_column {
	cursor: pointer;
	background-color: white;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.normal {
    color: black;
    font-weight: normal;
}

.keep {
    color: green;
    font-weight: bold;
}

.remove {
    color: red;
    font-weight: bold;
}

html, body {
    height: 100%;
    width: 100%;
    padding-top: 2px;
}

div.inputforms {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

div.inputform {
    display: inline-block;
}
div.table-container {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
